@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

<div class="row">
 <div class="col-md-6">
<div class="orta1" style=" margin-left: 20px;">
    <label class=" text-white" style="  list-style-type: none; font-family: Arial, Helvetica, sans-serif; font-size: 35px;float: left; margin-top:-10%;  margin-left: -4%;"> <b> <span style="color: #4f62ff;"> Girişimci </span> için en önemli özellik <span style="color: #4f62ff;">nedir?</span>
<br> Nelere <span style="color: #4f62ff;">dikkat</span> etmelidir 🧠 </b></label>
<p class="txt5 " style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; margin-top: 28%; margin-left: -4%;">bireysel ve toplumsal düşünebilmelidir <br>
            Hemen her konuda fikir sahibi olmalı ve sorunlara kalıcı çözümler üretebilmelidir. <br>
            Sürükleyici olmalı ve fırsatlardan yararlanabilmelidir. Yeniliklere açık olmalıdır.</p>
        </div>
 </div>
 <div class="col-md-6 float-left">
    <div id="scene"> 
                <div data-depth="0.3" class="mt-5" style="margin-left: 100px;" >
                    <img src="~/images/pazarlama.png" alt="" style="width: 400px;" height="350px">
                </div>
            </div>
            </div>
            
     <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
            
            <script>
                var scene = document.getElementById('scene');
                var parallaxInstance = new Parallax(scene);
            </script>
</div>
      <div class="row  justify-content-center mt-5">
    <div class="col-5 border border-info "style="border-radius:20px; box-shadow: 0 0 5px #4f62ff;"> 
      <h5 class="text-center" style="color: #4f62ff;">Fikir alışverişi yapın.</h5>
      <p class="text-center text-white"> Eğer bir işletme kurmak istiyorsanız öncelikli olarak girişim kurma fikirlerinizi masaya yatırın. Arkadaşlarınızla ve ailenizle beyin fırtınası yapın Seçeneklerinizi 2 ya da 3’e indirgeyerek sektör araştırması yapın. Lider markaların ne durumda olduklarını ve büyüme süreçlerinde neler yaptıklarını inceleyin.</p>
    </div>&ensp;&ensp;&ensp;&ensp;
      
    <div class="col-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;"">
     <h5 class="text-center" style="color: #4f62ff;">Kafanızdaki fikirleri somutlaştırın.</h5>
      <p class="text-center text-white">Girişim kurma aşamalarında ikinci olarak fikrinizi somut hale getirmelisiniz. Bilginizin ya da ilginizin olduğu bir alanda girişim kurabilirsiniz. Sektörünüzün ihtiyacı olan bir ürünü piyasaya sürebilirsiniz. Önemli olan nasıl bir adım atacağınızı belirlemenizdir. “Bu olur!” dediğiniz fikri belirledikten sonra iş planı oluşturmaya hazırsınız…</p> 
    </div>
  
      <div class="col-5 mt-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;"">
      <h5 class="text-center" style="color: #4f62ff;">İş planı hazırlayın.</h5>
       <p class="text-center text-white">İş planınızı hazırlarken mutlaka doküman kullanın ve notlarınızı ayrıntılı bir şekilde alın. Yol haritası olarak kullanacağınız bu iş planında başından sonuna kadar eksiksiz ve geniş kapsamlı bir şekilde hareket edin. Kaynaklarınızı nasıl kullanacağınızı, zamanınızı nasıl böleceğinizi planlayın.</p>
    </div>&ensp;&ensp;&ensp;&ensp;

      <div class="col-5 mt-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;">
       <h5 class="text-center" style="color: #4f62ff;">Sermaye oluşturun.</h5>
        <p class="text-center text-white">Girişim kurmak için gerekenlerden en önemlisi, sermaye. Bu aşamada ya kendi paranızla ya da yatırımcılar ile iş kurma seçeneğiniz vardır. Yatırımcıları ikna etmek için de sağlam bir iş planına sahip olmak şarttır. Ayrıca KOSGEB gibi destekçilerden yardım alarak da sermayenizi oluşturabilirsiniz.</p>
    </div>
  </div>
  
  <div class="row mt-5">
<div class="col-md-6">
 <img src="~/images/resim2.png" alt="" class="w-100" style="opacity: 0.2; border-radius:20px;">
  </div>
    <div class="col-md-6 text-white text-center" style="font-size: 40px;">
       <p><b> BAŞARININ YOLU, <br><span style="color:#4f62ff;">KONUŞMAYI BIRAKMAK</span> <br> VE YAPMAYA <span style="color:#4f62ff;"><br> BAŞLAMAKTIR.</b></span></p>
</div>
</div>

    </div>
