@{
    ViewData["Title"] = "yatirim Policy";
}

<div class="container">
      <div class="row  justify-content-center mt-5">
    <div class="col-5 border border-info "style="border-radius:20px; box-shadow: 0 0 5px #4f62ff;"> 
      <h5 class="text-center" style="color: #4f62ff;">Strateji Belirlemek:</h5>
      <p class="text-center text-white"> Forex’te Yatırım yapmadan önce mutlaka bir yatırım stratejisi belirlenmelidir. Forex piyasasının özellikleri doğrultusunda yatırım planınızı oluşturmalı, yatırım kararınızı belirlediğiniz stratejiye bağlı kalarak vermelisiniz. Forex piyasasını ve Forex piyasasında nasıl işlem yapıldığını iyi öğrenmeli, bununla ilgili eğitim almalısınız.</p>
    </div>&ensp;&ensp;&ensp;&ensp;
      
    <div class="col-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;"">
     <h5 class="text-center" style="color: #4f62ff;">Eğitimleri Deneyimle Pekiştirmek:</h5>
      <p class="text-center text-white">Forex piyasası hakkında edindiğiniz tüm bilgileri açacağınız bir deneme hesabı (demo hesap) ile pekiştirmelisiniz. Yatırım uzmanlarının tavsiyeleri doğrultusunda nasıl yatırım yapacağınızı, nasıl bir strateji belirlemeniz gerektiğini keşfedersiniz.</p> 
    </div>
  
      <div class="col-5 mt-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;"">
      <h5 class="text-center" style="color: #4f62ff;">Yatırım Araçlarını Tanımak:</h5>
       <p class="text-center text-white">Yatırım araçları bakımından oldukça geniş bir yelpazeye sahip olan Forex piyasasında tüm para birimleri, Emtia ve endekslerle yatırım yapmanız mümkün. Bu yatırım ürünlerinin her birinin kendine özgü nitelikleri bulunmaktadır. Bu yatrıım ürünlerini iyi tanımalısınız.</p>
    </div>&ensp;&ensp;&ensp;&ensp;

      <div class="col-5 mt-5 border border-info"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;">
       <h5 class="text-center" style="color: #4f62ff;">Disiplinli Bir Şekilde İlerlemek:</h5>
        <p class="text-center text-white">Forex piyasasında yatırım kararlarınızı oluştururken kazanmak için hırs yapmamaya özen göstermelisiniz. Çok fazla işlem yapmaktan kaçınmalı, işlemlerinizi planlı davranarak disiplinli bir halde gerçekleştirmelisiniz.</p>
    </div>
  </div>

  <div class="text-center mt-5" style="font-size: 40px;">
   <p style="color:#4f62ff;">YATIRIM YAPABİLECEĞİNİZ SİTELER</p>
  </div>

  <div class="row mt-5">
   <div class="col-md-6  text-center">
    <span style="font-size: 40px;" class="text-white mx-3"> <b> OKX KRİPTO </b></span><br>
    <img src="~/images/lgoo2.png" alt=""><br>
    <span style="font-size: 25px;" > <b> Değerlendirme</b></span><br>
     <img src="~/images/star5.png" alt="" style="width: 20%;">
   </div>
   <div class="col-md-6 text-center justify-center">
    <a href="https://www.okx.com/tr?irclickid=QuNRkJSdsxyNUkY33cws3R6HUkASt7TNEXVwS00&Channelid=ACE506286&sharedid=fx_b14850_b3031f12790483c6596aaa7bbcff5e56_1&irgwc=1"> <button style="background-color: #4f62ff; color:white; margin-top: 12%; padding: 20px; border-radius: 20px;">Siteye Ulaşmak İçin</button></a>
   </div>
  </div>
  <hr>
  <div class="row mt-5">
   <div class="col-md-6  text-center">
    <span style="font-size: 40px;" class="text-white"> <b> CRYPTO </b></span><br>
    <img src="~/images/logo1.png" alt=""><br>
    <span style="font-size: 25px; " > <b> Değerlendirme</b></span><br>
     <img src="~/images/star5.png" alt="" style="width: 20%;">
   </div>
   <div class="col-md-6 text-center justify-center">
    <a href="https://auth.crypto.com/users/sign_up?cjdata=MXxOfDB8WXww&cjevent=1fbd05e6fd6a11ed80cd88fa0a18b8fc&ref=cro10"> <button style="background-color: #4f62ff; color:white; margin-top: 12%; padding: 20px; border-radius: 20px;">Siteye Ulaşmak İçin</button></a>
   </div>
  </div>
<hr>
   <div class="row mt-5">
   <div class="col-md-6  text-center">
    <span style="font-size: 40px; "class="text-white"> <b> COINBASE </b></span><br>
    <img src="~/images/logo3.png" alt=""><br>
    <span style="font-size: 25px;" > <b> Değerlendirme</b></span><br>
     <img src="~/images/star5.png" alt="" style="width: 20%;">
   </div>
   <div class="col-md-6 text-center justify-center">
    <a href="https://www.coinbase.com/tr/join/5c6ab07e781d8e019da7a33c?sharedid=fx_b12981_3d4b7613082bfd1ef7eab0abe14d8e48_1"> <button style="background-color: #4f62ff; color:white; margin-top: 12%; padding: 20px; border-radius: 20px;">Siteye Ulaşmak İçin</button></a>
   </div>
  </div>
<hr>
   <div class="row mt-5">
   <div class="col-md-6  text-center">
    <span style="font-size: 40px; "class="text-white"> <b> BINANCE </b></span><br>
    <img src="~/images/logo4.png" alt=""><br>
    <span style="font-size: 25px; "> <b> Değerlendirme</b></span><br>
     <img src="~/images/star5.png" alt="" style="width: 20%;">
   </div>
   <div class="col-md-6 text-center justify-center">
    <a href="https://accounts.binance.com/tr/register?ref=UNGL3XS4&"> <button style="background-color: #4f62ff; color:white; margin-top: 12%; padding: 20px; border-radius: 20px;">Siteye Ulaşmak İçin</button></a>
   </div>
  </div>
    <div class="text-center mt-5" style="font-size: 30px;">
   <p style="color:#4f62ff;">Eğitim Satın Almak için</p>
 <a asp-action="siparisSayfasi"><button style="border-radius: 20px; background-color: #4f62ff; padding:15px;"> <b>Buraya tıkla</b> </button></a> 
  </div>

  <div class="row mt-5 row mt-5 justify-content-center">
     <div class="col-4 border border-info mx-3"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;">
     <h5 class="text-center" style="color: #4f62ff; font-size: 35px;"> <b> Stanart Paket </b></h5>
      <p class="text-center text-white"><span style="font-size: 25px; ">19.99₺</span></p> 
      <p class="text-center text-white" style="font-size: 15px; "> <b> 1 Aylık Paket </b></p>
     <p class="text-center text-white" style="font-size: 15px; "> <span style="color:red;">X</span><b>  bütün paketler </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Sınırlı Sayıda kullanıcı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Kullanıcı Giriş Saat Aralığı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <span style="color:red;">X</span> <b> Özel Ders Ekleme </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <span style="color:red;">X</span><b>  İçerik Üreticileriyle İletişim Kurma </b></p>
    </div>

      <div class="col-4 border border-info mx-3"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;">
     <h5 class="text-center" style="color: #4f62ff; font-size: 35px;"> <b> Medium Paket </b></h5>
      <p class="text-center text-white"><span style="font-size: 25px; ">39.99₺</span></p> 
      <p class="text-center text-white" style="font-size: 15px; "> <b> 1 Aylık Paket </b></p>
     <p class="text-center text-white" style="font-size: 15px; "> <b>  bütün paketler </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Sınırlı Sayıda kullanıcı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Kullanıcı Giriş Saat Aralığı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <span style="color:red;">X</span><b> Özel Ders Ekleme </b></p>
      <p class="text-center text-white" style="font-size: 15px; "><span style="color:red;">X</span> <b>  İçerik Üreticileriyle İletişim Kurma </b></p>
    </div>
  

      <div class="col-4 border border-info mx-2 mt-4"style=" border-radius:20px; box-shadow: 0 0 5px #4f62ff;">
     <h5 class="text-center" style="color: #4f62ff; font-size: 35px;"> <b> Premium Paket </b></h5>
      <p class="text-center text-white"><span style="font-size: 25px; ">89.99₺</span></p> 
      <p class="text-center text-white" style="font-size: 15px; "> <b> 1 Aylık Paket </b></p>
     <p class="text-center text-white" style="font-size: 15px; "> <b>  bütün paketler </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Sınırlı Sayıda kullanıcı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  Kullanıcı Giriş Saat Aralığı </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b> Özel Ders Ekleme </b></p>
      <p class="text-center text-white" style="font-size: 15px; "> <b>  İçerik Üreticileriyle İletişim Kurma </b></p>
    </div>
    
  </div>
  
</div>