html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #4f62ff, 0 0 0 0.25rem #4f62ff;
}
.con
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 background-color: rgba(8,6,12,255);;
}
.orta1{
  margin-top: 25%;
}